<div class="content">
  <div class="left-wrapper">
  </div>
  <div class="right-wrapper">
    <h3 class="section-title">search</h3>
    <div class="search-form">
      <input placeholder="フリーワードで検索" type="search">
      <a class="fas fa-search"></a>
    </div>
    <div class="search-form">
      <input placeholder="都道府県" type="search">
      <a class="fas fa-search"></a>
    </div>
    <div class="search-form">
      <input placeholder="店舗名" type="search">
      <a class="fas fa-search"></a>
    </div>
  </div>
  <div class="bottom-wrapper">
  </div>
</div>