<div class="content">
  <div class="top-wrapper">
    <div class="form">
      <%= form_tag('/maps/search', method: :get) do %>
        <h3 class="top-title">search</h3>
        <div class="search-form">
          <input placeholder="フリーワードで検索" name="keyword" type="search"></input>
        </div>
        <div class="search-form">
          <select name="place_id" id="place_id" size="1" >
            <option value="">選択してください</option>
            <option value="1">東京</option>
            <option value="2">神奈川</option>
            <option value="3">埼玉</option>
            <option value="4">千葉</option>
            <option value="5">群馬</option>
            <option value="6">栃木</option>
            <option value="7">山梨</option>
            <option value="8">茨城</option>
            <option value="">なし</option>
          </select>
        </div>
        <div class="search-form">
          <select name="category_id" id="category_id" size="1" >
            <option value="">選択してください</option>
            <option value="1">ゴールドジム</option>
            <option value="2">エニタイムフィットネス</option>
            <option value="3">ライザップ</option>
            <option value="4">カーブス</option>
            <option value="5">セントラル</option>
            <option value="6">ティップネス</option>
            <option value="7">その他</option>
            <option value="">なし</option>
          </select>
        </div>
        <button class="fas fa-search" title="検索" type="submit"> 検索</button>
      <% end %>
    </div>
  </div>
  <div class="bottom-wrapper">
    <h3 class="bottom-title">new!</h3>
    <div class="bottom-contents">
      <div class="bottom-content">
        <img src="https://pbs.twimg.com/media/B7eWa8SCIAAMCJf.jpg" width="300" height="250">
      </div>
      <div class="bottom-content">
        <img src="http://img-cdn.jg.jugem.jp/f01/1479533/20100520_1600212.jpg" width="300" height="250">
      </div>
      <div class="bottom-content">
        <img src="http://s3.goldsgym.jp/shop/shopmain_ykp.jpg" width="300" height="250">
      </div>
    </div>
  </div>
</div>