<div class="contents row">
  <div class="contents-body">
    <div class="contents-image">
      <%= image_tag (@map.image_url), height: "400px", width: "400px" %>
    </div>
    <div class="contents-detail" >
      <div class="gym-name">
        <h3><%= @map.name %></h3>
      </div>
      <div class="gym-map">
      </div>
      <div class="gym-review" >
       <%= @map.content %>
      </div>
    </div>
  </div>
  <div class="contents-comments">
  </div>
</div>
